/*Cabeçalho*/
header{
	background-color: #BF5D43;
	width: 400;
	height: 300;
	text-align: center;
	padding: 10px; /*gera espaço ao redor do elemento*/
	color: white;
}
/*estilo do texto principal*/
h3{
	font-style: normal;
	padding-bottom: 20px;
}

/*Div principal - Coluna*/
.coluna{
	color:white;
	background-color: #BF5D43;
	height: 80%;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 30px;
}

/*atribuindo à uma classe específica.*/
p.texto_principal{
	text-align: justify;
	padding-right: 15px;

}

/*footer - parte de baixo das páginas*/
.footer{
	background-color: #ec8264;
	text-align: center;
	padding: 20px;
}

